/**************************************************************************************
DEFAULT

NAVBAR
- TOP CONTAINER (GRAY LINE)
- NAV CONTAINER (ORANGE LINE)

INDEX
- FILE PATH CONTAINER
- FILTER CONTAINER
- TABLE

REGISTER

EDIT

**************************************************************************************/

@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.align-left {
  float: left;
}

.red-color {
  color: red;
}

.border-bottom {
  border: 1px solid #d4d4d1;
  border-left: none;
  border-right: none;
  border-top: none;
}

.border-topbottom {
  border: 1px solid #d4d4d1;
  border-left: none;
  border-right: none;
}


/**************************************************************************************

TOP CONTAINER (GRAY LINE)

**************************************************************************************/

.top-container {
  background-color: #9c9c9c;
  height: 50px;
  padding: 5px;
}

.notification-top-container {
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: 5px;
}

.perfil-top-container {
  position: absolute;
  right: 0;
}


/**************************************************************************************

NAV CONTAINER (ORANGE LINE)

**************************************************************************************/

.container-nav {
  background-color: #f33600;
  padding: 5px;
}

.container-nav a {
  font-size: .8em;
  color: white;
  text-decoration: none;
}


/**************************************************************************************

FILE PATH CONTAINER

**************************************************************************************/

.file-path {
  margin: 20px 0 0 120px;
}

.file-path a {
  text-decoration: none;
}

.span-first-path, .span-last-path {
  font-size: .9em;
  font-weight: bold;
}

.span-first-path {
  color: #d4d4d1;
}

.span-last-path {
  color: #949698;
}

.a-first-path {
  text-decoration: none;
  color: #d4d4d1;
  font-weight: bold;
  font-size: .9em;
}


/**************************************************************************************

FILTER CONTAINER

**************************************************************************************/

.container-filter {
  margin: 30px 100px 0 120px;
}

.button-filter, .button-new-process {
  background-color: #6db721;
  color: white;
  font-weight: bold;
}

.button-filter:hover, .button-new-process:hover {
  background-color: #5f9e1f;
  color: white;
}

.button-filter {
  width: 100px;
}

.button-new-process {
  position: absolute;
  right: 0;
  margin-right: 100px;
}

.span-filter-error, .span-filter-updateProcess {
  font-size: .8em;
}

/**************************************************************************************

TABLE

**************************************************************************************/

.container-table {
  margin: 70px 100px 0 120px;
  font-size: .8em;
  text-align: center;
}

.container-table a {
  color: black;
}

.container-pagination {
  position: absolute;
  right: 0;
  margin: 30px 120px 0 0;
}

.container-pagination a {
  color: black;
  font-size: .9em;
  border: none;
}

.button-lamp {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


/**************************************************************************************

REGISTER

**************************************************************************************/

.container-new-register  {
  margin: 0 100px 0 120px;
}

.container-new-register div {
  padding: 10px;
  font-size: .9em;
  color: #949698;
  font-weight: bold;
}

.container-new-register span {
  vertical-align: middle;
}

.container-button-register {
  background-color: #f4f4f4;
  margin-top: 20px;
}

.button-create {
  background-color: #6db721;
  color: white;
}

.button-create:hover {
  background-color: #5f9e1f;
  color: white;
}

.button-clear {
  background-color: #3e73d6;
  color: white;
  margin-left: 10px;  
}

.button-clear:hover {
  background-color: #3662b4;
  color: white;
}


/**************************************************************************************

EDIT

**************************************************************************************/

.button-volklms {
  background-color: #6db721;
  color: white;
  margin: 0px 100px 0 0;
  position: absolute;
  right: 0;
}

.button-volklms:hover {
  background-color: #5f9e1f;
  color: white;
}