/**************************************************************************************
GERAL

NAVBAR:
- TOP CONTAINER (GRAY LINE)
- NAV CONTAINER (ORANGE LINE)

INDEX:
- FILE PATH CONTAINER
- FILTER CONTAINER
- TABLE

**************************************************************************************/

@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.align-left {
  float: left;
}



/**************************************************************************************

TOP CONTAINER (GRAY LINE)

**************************************************************************************/

.top-container {
  background-color: #9c9c9c;
  height: 50px;
  padding: 5px;
}

.notification-top-container {
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: 5px;
}

.perfil-top-container {
  position: absolute;
  right: 0;
}


/**************************************************************************************

NAV CONTAINER (ORANGE LINE)

**************************************************************************************/

.container-nav {
  background-color: #f33600;
  padding: 5px;
}

.container-nav a {
  font-size: .8em;
  color: white;
  text-decoration: none;
}


/**************************************************************************************

FILE PATH CONTAINER

**************************************************************************************/

.file-path {
  margin: 20px 0 0 120px;
}

.span-first-path, .span-last-path {
  font-size: .9em;
  font-weight: bold;
}

.span-first-path {
  color: #d4d4d1;
}

.span-last-path {
  color: #949698;
}


/**************************************************************************************

FILTER CONTAINER

**************************************************************************************/

.container-filter {
  margin: 30px 100px 0 120px;
}

.button-filter, .button-new-process {
  background-color: #6db721;
  color: white;
  font-weight: bold;
}

.button-filter:hover, .button-new-process:hover {
  background-color: #5f9e1f;
  color: white;
}

.button-filter {
  width: 100px;
}

.button-new-process {
  position: absolute;
  right: 0;
  margin-right: 100px;
}


/**************************************************************************************

TABLE

**************************************************************************************/

.container-table {
  margin: 70px 100px 0 120px;
  font-size: .8em;
  text-align: center;
}

.container-pagination {
  position: absolute;
  right: 0;
  margin: 30px 120px 0 0;
}

.container-pagination a {
  color: black;
  font-size: .9em;
  border: none;
}