/**************************************************************************************

INDEX:
- TOP CONTAINER (GRAY LINE)

**************************************************************************************/

@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




/**************************************************************************************

TOP CONTAINER (GRAY LINE)

**************************************************************************************/

.top-container {
  background-color: gray;
}
